* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root {
	display: flex;
	justify-content: center;
}
.App {
	width: 800px;
}
.post {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border: 2px solid teal;
	margin-top: 15px;
}
.post__btns {
}
